.svn
*~
*.kate-swp
.*.swp
.idea
*.in
*.lo
*.la
*.m4
Makefile*
config.*
CMake*
*.iml
*.so

install_manifest.txt
.deps
configure*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-test
run-tests.php

.libs
autom4te.cache
build
modules

tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
