Source: php-wikidiff2
Section: web
Priority: optional
Maintainer: Tim Starling <tstarling@wikimedia.org>
Build-Depends: debhelper (>= 9), libthai-dev, pkg-config,
  php5-dev
Homepage: http://www.mediawiki.org/wiki/Extension:Wikidiff2
Standards-Version: 3.9.5

Package: php-wikidiff2
Architecture: any
Depends: php5 | php5-cli, ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: external diff engine for MediaWiki (PHP extension)
 Wikidiff2 is PHP 5 module providing external diff engine for MediaWiki. It
 performs word-level (space-delimited) diffs on general text, and
 character-level diffs on text composed of characters from the Japanese and
 Thai alphabets and the unified han.
